.line-first::first-line {
    line-height: 1;
}

.line-height-18 {
    line-height: 18px;
}

.line-height-24 {
    line-height: 24px;
}

.line-height-94 {
    line-height: 94%;
}

.line-height-100,
.line-height-100 p {
    line-height: 100%;
}

.line-height-105,
.line-height-105 p {
    line-height: 105%;
}

.line-height-110,
.line-height-110 p {
    line-height: 110%;
}

.line-height-120,
.line-height-120 p {
    line-height: 120%;
}

.line-height-130,
.line-height-130 p {
    line-height: 130%;
}

.line-height-140,
.line-height-140 p {
    line-height: 140%;
}

.line-height-150,
.line-height-150 p {
    line-height: 150%;
}

.line-height-160,
.line-height-160 p {
    line-height: 160% !important;
}

.line-height-180,
.line-height-180 p {
    line-height: 180%;
}

.letter-space-menus-025 {
    letter-spacing: -0.25px;
}

.letter-space-menus-02 {
    letter-spacing: -0.2px;
}

.letter-space-02 {
    letter-spacing: .2px;
}

.letter-space-04 {
    letter-spacing: .4px;
}

.letter-space-05 {
    letter-spacing: .5px;
}

.letter-space-08 {
    letter-spacing: .8px;
}

.letter-space-0 {
    letter-spacing: 0;
}

.letter-space-1 {
    letter-spacing: 1px;
}

.letter-space-1-5 {
    letter-spacing: 1.5px;
}

.letter-space-2 {
    letter-spacing: 2px;
}

.letter-space-3 {
    letter-spacing: 3px;
}

.letter-space-4 {
    letter-spacing: 4px;
}

.letter-space-8 {
    letter-spacing: 8px;
}

.letter-space-menus-02 {
    letter-spacing: -0.2px;
}

.letter-space-menus-08 {
    letter-spacing: -0.8px;
}

.letter-space-menus-064 {
    letter-spacing: -0.64px;
}

.letter-space-menus-1 {
    letter-spacing: -1px;
}

@media (max-width: 1900px) {
    .xl-ajusta-br br {
        display: inline-block !important;
    }

    .xl-line-height-18 {
        line-height: 18px;
    }
    
    .xl-line-height-24 {
        line-height: 24px;
    }

    .xl-line-height-110,
    .xl-line-height-110 p {
        line-height: 110%;
    }
    .xl-line-height-120,
    .xl-line-height-120 p {
        line-height: 120%;
    }
    .xl-line-height-130,
    .xl-line-height-130 p {
        line-height: 130%;
    }
    .xl-line-height-140,
    .xl-line-height-140 p {
        line-height: 140%;
    }

    .xl-letter-space-0 {
        letter-spacing: 0;
    }
    
    .xl-letter-space-1 {
        letter-spacing: 1px;
    }
    
    .xl-letter-space-2 {
        letter-spacing: 2px;
    }
    
    .xl-letter-space-3 {
        letter-spacing: 3px;
    }
    
    .xl-letter-space-4 {
        letter-spacing: 4px;
    }
}

@media (max-width: 1399px) {
    .lg-line-height-18 {
        line-height: 18px;
    }
    
    .lg-line-height-24 {
        line-height: 24px;
    }

    .lg-line-height-110,
    .lg-line-height-110 p {
        line-height: 110%;
    }
    .lg-line-height-120,
    .lg-line-height-120 p {
        line-height: 120%;
    }
    .lg-line-height-130,
    .lg-line-height-130 p {
        line-height: 130%;
    }
    .lg-line-height-140,
    .lg-line-height-140 p {
        line-height: 140%;
    }

    .lg-letter-space-0 {
        letter-spacing: 0;
    }
    
    .lg-letter-space-1 {
        letter-spacing: 1px;
    }
    
    .lg-letter-space-1-75 {
        letter-spacing: 1.75px;
    }
    
    .lg-letter-space-2 {
        letter-spacing: 2px;
    }
    
    .lg-letter-space-3 {
        letter-spacing: 3px;
    }
    
    .lg-letter-space-4 {
        letter-spacing: 4px;
    }
}

@media (max-width: 1199px) {
    .md-line-height-18 {
        line-height: 18px;
    }
    .md-line-height-24 {
        line-height: 24px;
    }
    .md-line-height-110,
    .md-line-height-110 p {
        line-height: 110%;
    }
    .md-line-height-120,
    .md-line-height-120 p {
        line-height: 120%;
    }
    .md-line-height-130,
    .md-line-height-130 p {
        line-height: 130%;
    }
    .md-line-height-140,
    .md-line-height-140 p {
        line-height: 140%;
    }

    .md-letter-space-0 {
        letter-spacing: 0;
    }
    
    .md-letter-space-02 {
        letter-spacing: 0.2px;
    }
    
    .md-letter-space-1 {
        letter-spacing: 1px;
    }
    
    .md-letter-space-1-5 {
        letter-spacing: 1.5px;
    }
    
    .md-letter-space-2 {
        letter-spacing: 2px;
    }
    
    .md-letter-space-3 {
        letter-spacing: 3px;
    }
    
    .md-letter-space-4 {
        letter-spacing: 4px;
    }
}

@media (max-width: 743px) {
    .sm-line-height-18 {
        line-height: 18px;
    }
    .sm-line-height-24 {
        line-height: 24px;
    }
    .sm-line-height-110,
    .sm-line-height-110 p {
        line-height: 110%;
    }
    .sm-line-height-120,
    .sm-line-height-120 p {
        line-height: 120%;
    }
    .sm-line-height-130,
    .sm-line-height-130 p {
        line-height: 130%;
    }
    .sm-line-height-140,
    .sm-line-height-140 p {
        line-height: 140%;
    }

    .sm-letter-space-menus-025 {
        letter-spacing: -0.25px;
    }

    .sm-letter-space-menus-02 {
        letter-spacing: -0.2px;
    }

    .sm-letter-space-0 {
        letter-spacing: 0;
    }
    
    .sm-letter-space-1 {
        letter-spacing: 1px;
    }
    
    .sm-letter-space-2 {
        letter-spacing: 2px;
    }
    
    .sm-letter-space-3 {
        letter-spacing: 3px;
    }
    
    .sm-letter-space-4 {
        letter-spacing: 4px;
    }
}