.f-size-2 {
    font-size: 2px !important;
}

.f-size-4 {
    font-size: 4px !important;
}

.f-size-6 {
    font-size: 6px !important;
}

.f-size-8 {
    font-size: 8px !important;
}

.f-size-10 {
    font-size: 10px !important;
}

.f-size-12 {
    font-size: 12px !important;
}

.f-size-14 {
    font-size: 14px !important;
}

.f-size-16 {
    font-size: 16px !important;
}

.f-size-18 {
    font-size: 18px !important;
}

.f-size-20 {
    font-size: 20px !important;
}

.f-size-22 {
    font-size: 22px !important;
}

.f-size-24 {
    font-size: 24px !important;
}

.f-size-26 {
    font-size: 26px !important;
}

.f-size-28 {
    font-size: 28px !important;
}

.f-size-30 {
    font-size: 30px !important;
}

.f-size-32 {
    font-size: 32px !important;
}

.f-size-34 {
    font-size: 34px !important;
}

.f-size-36 {
    font-size: 36px !important;
}

.f-size-38 {
    font-size: 38px !important;
}

.f-size-40 {
    font-size: 40px !important;
}

.f-size-42 {
    font-size: 42px !important;
}

.f-size-44 {
    font-size: 44px !important;
}

.f-size-46 {
    font-size: 46px !important;
}

.f-size-48 {
    font-size: 48px !important;
}

.f-size-50 {
    font-size: 50px !important;
}

.f-size-52 {
    font-size: 52px !important;
}

.f-size-54 {
    font-size: 54px !important;
}

.f-size-56 {
    font-size: 56px !important;
}

.f-size-58 {
    font-size: 58px !important;
}

.f-size-60 {
    font-size: 60px !important;
}

.f-size-62 {
    font-size: 62px !important;
}

.f-size-64 {
    font-size: 64px !important;
}

.f-size-66 {
    font-size: 66px !important;
}

.f-size-68 {
    font-size: 68px !important;
}

.f-size-70 {
    font-size: 70px !important;
}

.f-size-72 {
    font-size: 72px !important;
}

.f-size-74 {
    font-size: 74px !important;
}

.f-size-76 {
    font-size: 76px !important;
}

.f-size-78 {
    font-size: 78px !important;
}

.f-size-80 {
    font-size: 80px !important;
}

.f-size-82 {
    font-size: 82px !important;
}

.f-size-84 {
    font-size: 84px !important;
}

.f-size-86 {
    font-size: 86px !important;
}

.f-size-88 {
    font-size: 88px !important;
}

.f-size-90 {
    font-size: 90px !important;
}

.f-size-92 {
    font-size: 92px !important;
}

.f-size-94 {
    font-size: 94px !important;
}

.f-size-96 {
    font-size: 96px !important;
}

.f-size-98 {
    font-size: 98px !important;
}

.f-size-100 {
    font-size: 100px !important;
}

.f-size-102 {
    font-size: 102px !important;
}

.f-size-104 {
    font-size: 104px !important;
}

.f-size-106 {
    font-size: 106px !important;
}

.f-size-108 {
    font-size: 108px !important;
}

.f-size-110 {
    font-size: 110px !important;
}

.f-size-112 {
    font-size: 112px !important;
}

.f-size-114 {
    font-size: 114px !important;
}

.f-size-116 {
    font-size: 116px !important;
}

.f-size-118 {
    font-size: 118px !important;
}

.f-size-120 {
    font-size: 120px !important;
}

.f-size-122 {
    font-size: 122px !important;
}

.f-size-124 {
    font-size: 124px !important;
}

.f-size-126 {
    font-size: 126px !important;
}

.f-size-128 {
    font-size: 128px !important;
}

.f-size-130 {
    font-size: 130px !important;
}

.f-size-132 {
    font-size: 132px !important;
}

.f-size-134 {
    font-size: 134px !important;
}

.f-size-136 {
    font-size: 136px !important;
}

.f-size-138 {
    font-size: 138px !important;
}

.f-size-140 {
    font-size: 140px !important;
}

.f-size-142 {
    font-size: 142px !important;
}

.f-size-144 {
    font-size: 144px !important;
}

.f-size-146 {
    font-size: 146px !important;
}

.f-size-148 {
    font-size: 148px !important;
}

.f-size-150 {
    font-size: 150px !important;
}

.f-size-152 {
    font-size: 152px !important;
}

.f-size-154 {
    font-size: 154px !important;
}

.f-size-156 {
    font-size: 156px !important;
}

.f-size-158 {
    font-size: 158px !important;
}

.f-size-160 {
    font-size: 160px !important;
}

@media (max-width: 1900px) {
    .xl-f-size-2 {
        font-size: 2px !important;
    }

    .xl-f-size-4 {
        font-size: 4px !important;
    }

    .xl-f-size-6 {
        font-size: 6px !important;
    }

    .xl-f-size-8 {
        font-size: 8px !important;
    }

    .xl-f-size-10 {
        font-size: 10px !important;
    }

    .xl-f-size-12 {
        font-size: 12px !important;
    }

    .xl-f-size-14 {
        font-size: 14px !important;
    }

    .xl-f-size-16 {
        font-size: 16px !important;
    }

    .xl-f-size-18 {
        font-size: 18px !important;
    }

    .xl-f-size-20 {
        font-size: 20px !important;
    }

    .xl-f-size-22 {
        font-size: 22px !important;
    }

    .xl-f-size-24 {
        font-size: 24px !important;
    }

    .xl-f-size-26 {
        font-size: 26px !important;
    }

    .xl-f-size-28 {
        font-size: 28px !important;
    }

    .xl-f-size-30 {
        font-size: 30px !important;
    }

    .xl-f-size-32 {
        font-size: 32px !important;
    }

    .xl-f-size-34 {
        font-size: 34px !important;
    }

    .xl-f-size-36 {
        font-size: 36px !important;
    }

    .xl-f-size-38 {
        font-size: 38px !important;
    }

    .xl-f-size-40 {
        font-size: 40px !important;
    }

    .xl-f-size-42 {
        font-size: 42px !important;
    }

    .xl-f-size-44 {
        font-size: 44px !important;
    }

    .xl-f-size-46 {
        font-size: 46px !important;
    }

    .xl-f-size-48 {
        font-size: 48px !important;
    }

    .xl-f-size-50 {
        font-size: 50px !important;
    }
    
    .xl-f-size-52 {
        font-size: 52px !important;
    }

    .xl-f-size-54 {
        font-size: 54px !important;
    }

    .xl-f-size-56 {
        font-size: 56px !important;
    }

    .xl-f-size-58 {
        font-size: 58px !important;
    }

    .xl-f-size-60 {
        font-size: 60px !important;
    }

    .xl-f-size-62 {
        font-size: 62px !important;
    }

    .xl-f-size-64 {
        font-size: 64px !important;
    }

    .xl-f-size-66 {
        font-size: 66px !important;
    }
    
    .xl-f-size-68 {
        font-size: 68px !important;
    }

    .xl-f-size-70 {
        font-size: 70px !important;
    }

    .xl-f-size-72 {
        font-size: 72px !important;
    }

    .xl-f-size-74 {
        font-size: 74px !important;
    }

    .xl-f-size-76 {
        font-size: 76px !important;
    }

    .xl-f-size-78 {
        font-size: 78px !important;
    }

    .xl-f-size-80 {
        font-size: 80px !important;
    }

    .xl-f-size-82 {
        font-size: 82px !important;
    }

    .xl-f-size-84 {
        font-size: 84px !important;
    }

    .xl-f-size-86 {
        font-size: 86px !important;
    }

    .xl-f-size-88 {
        font-size: 88px !important;
    }

    .xl-f-size-90 {
        font-size: 90px !important;
    }

    .xl-f-size-92 {
        font-size: 92px !important;
    }

    .xl-f-size-94 {
        font-size: 94px !important;
    }

    .xl-f-size-96 {
        font-size: 96px !important;
    }

    .xl-f-size-98 {
        font-size: 98px !important;
    }

    .xl-f-size-100 {
        font-size: 100px !important;
    }

    .xl-f-size-102 {
        font-size: 102px !important;
    }

    .xl-f-size-104 {
        font-size: 104px !important;
    }

    .xl-f-size-106 {
        font-size: 106px !important;
    }

    .xl-f-size-108 {
        font-size: 108px !important;
    }

    .xl-f-size-110 {
        font-size: 110px !important;
    }

    .xl-f-size-112 {
        font-size: 112px !important;
    }

    .xl-f-size-114 {
        font-size: 114px !important;
    }

    .xl-f-size-116 {
        font-size: 116px !important;
    }

    .xl-f-size-118 {
        font-size: 118px !important;
    }

    .xl-f-size-120 {
        font-size: 120px !important;
    }

    .xl-f-size-122 {
        font-size: 122px !important;
    }

    .xl-f-size-124 {
        font-size: 124px !important;
    }

    .xl-f-size-126 {
        font-size: 126px !important;
    }

    .xl-f-size-128 {
        font-size: 128px !important;
    }

    .xl-f-size-130 {
        font-size: 130px !important;
    }

    .xl-f-size-132 {
        font-size: 132px !important;
    }

    .xl-f-size-134 {
        font-size: 134px !important;
    }

    .xl-f-size-136 {
        font-size: 136px !important;
    }

    .xl-f-size-138 {
        font-size: 138px !important;
    }

    .xl-f-size-140 {
        font-size: 140px !important;
    }

    .xl-f-size-142 {
        font-size: 142px !important;
    }

    .xl-f-size-144 {
        font-size: 144px !important;
    }

    .xl-f-size-146 {
        font-size: 146px !important;
    }

    .xl-f-size-148 {
        font-size: 148px !important;
    }

    .xl-f-size-150 {
        font-size: 150px !important;
    }

    .xl-f-size-152 {
        font-size: 152px !important;
    }

    .xl-f-size-154 {
        font-size: 154px !important;
    }

    .xl-f-size-156 {
        font-size: 156px !important;
    }

    .xl-f-size-158 {
        font-size: 158px !important;
    }

    .xl-f-size-160 {
        font-size: 160px !important;
    }
}

@media (max-width: 1399px) {
    .lg-f-size-2 {
        font-size: 2px !important;
    }

    .lg-f-size-4 {
        font-size: 4px !important;
    }

    .lg-f-size-6 {
        font-size: 6px !important;
    }

    .lg-f-size-8 {
        font-size: 8px !important;
    }

    .lg-f-size-10 {
        font-size: 10px !important;
    }

    .lg-f-size-12 {
        font-size: 12px !important;
    }

    .lg-f-size-14 {
        font-size: 14px !important;
    }

    .lg-f-size-16 {
        font-size: 16px !important;
    }

    .lg-f-size-18 {
        font-size: 18px !important;
    }

    .lg-f-size-20 {
        font-size: 20px !important;
    }

    .lg-f-size-22 {
        font-size: 22px !important;
    }

    .lg-f-size-24 {
        font-size: 24px !important;
    }

    .lg-f-size-26 {
        font-size: 26px !important;
    }

    .lg-f-size-28 {
        font-size: 28px !important;
    }

    .lg-f-size-30 {
        font-size: 30px !important;
    }

    .lg-f-size-32 {
        font-size: 32px !important;
    }

    .lg-f-size-34 {
        font-size: 34px !important;
    }

    .lg-f-size-36 {
        font-size: 36px !important;
    }

    .lg-f-size-38 {
        font-size: 38px !important;
    }

    .lg-f-size-40 {
        font-size: 40px !important;
    }

    .lg-f-size-42 {
        font-size: 42px !important;
    }

    .lg-f-size-44 {
        font-size: 44px !important;
    }

    .lg-f-size-46 {
        font-size: 46px !important;
    }

    .lg-f-size-48 {
        font-size: 48px !important;
    }

    .lg-f-size-50 {
        font-size: 50px !important;
    }
    
    .lg-f-size-52 {
        font-size: 52px !important;
    }

    .lg-f-size-54 {
        font-size: 54px !important;
    }

    .lg-f-size-56 {
        font-size: 56px !important;
    }

    .lg-f-size-58 {
        font-size: 58px !important;
    }

    .lg-f-size-60 {
        font-size: 60px !important;
    }

    .lg-f-size-62 {
        font-size: 62px !important;
    }

    .lg-f-size-64 {
        font-size: 64px !important;
    }

    .lg-f-size-66 {
        font-size: 66px !important;
    }
    
    .lg-f-size-68 {
        font-size: 68px !important;
    }

    .lg-f-size-70 {
        font-size: 70px !important;
    }

    .lg-f-size-72 {
        font-size: 72px !important;
    }

    .lg-f-size-74 {
        font-size: 74px !important;
    }

    .lg-f-size-76 {
        font-size: 76px !important;
    }

    .lg-f-size-78 {
        font-size: 78px !important;
    }

    .lg-f-size-80 {
        font-size: 80px !important;
    }

    .lg-f-size-82 {
        font-size: 82px !important;
    }

    .lg-f-size-84 {
        font-size: 84px !important;
    }

    .lg-f-size-86 {
        font-size: 86px !important;
    }

    .lg-f-size-88 {
        font-size: 88px !important;
    }

    .lg-f-size-90 {
        font-size: 90px !important;
    }

    .lg-f-size-92 {
        font-size: 92px !important;
    }

    .lg-f-size-94 {
        font-size: 94px !important;
    }

    .lg-f-size-96 {
        font-size: 96px !important;
    }

    .lg-f-size-98 {
        font-size: 98px !important;
    }

    .lg-f-size-100 {
        font-size: 100px !important;
    }

    .lg-f-size-102 {
        font-size: 102px !important;
    }

    .lg-f-size-104 {
        font-size: 104px !important;
    }

    .lg-f-size-106 {
        font-size: 106px !important;
    }

    .lg-f-size-108 {
        font-size: 108px !important;
    }

    .lg-f-size-110 {
        font-size: 110px !important;
    }

    .lg-f-size-112 {
        font-size: 112px !important;
    }

    .lg-f-size-114 {
        font-size: 114px !important;
    }

    .lg-f-size-116 {
        font-size: 116px !important;
    }

    .lg-f-size-118 {
        font-size: 118px !important;
    }

    .lg-f-size-120 {
        font-size: 120px !important;
    }

    .lg-f-size-122 {
        font-size: 122px !important;
    }

    .lg-f-size-124 {
        font-size: 124px !important;
    }

    .lg-f-size-126 {
        font-size: 126px !important;
    }

    .lg-f-size-128 {
        font-size: 128px !important;
    }

    .lg-f-size-130 {
        font-size: 130px !important;
    }

    .lg-f-size-132 {
        font-size: 132px !important;
    }

    .lg-f-size-134 {
        font-size: 134px !important;
    }

    .lg-f-size-136 {
        font-size: 136px !important;
    }

    .lg-f-size-138 {
        font-size: 138px !important;
    }

    .lg-f-size-140 {
        font-size: 140px !important;
    }

    .lg-f-size-142 {
        font-size: 142px !important;
    }

    .lg-f-size-144 {
        font-size: 144px !important;
    }

    .lg-f-size-146 {
        font-size: 146px !important;
    }

    .lg-f-size-148 {
        font-size: 148px !important;
    }

    .lg-f-size-150 {
        font-size: 150px !important;
    }

    .lg-f-size-152 {
        font-size: 152px !important;
    }

    .lg-f-size-154 {
        font-size: 154px !important;
    }

    .lg-f-size-156 {
        font-size: 156px !important;
    }

    .lg-f-size-158 {
        font-size: 158px !important;
    }

    .lg-f-size-160 {
        font-size: 160px !important;
    }
}

@media (max-width: 1199px) {
    .md-f-size-2 {
        font-size: 2px !important;
    }

    .md-f-size-4 {
        font-size: 4px !important;
    }

    .md-f-size-6 {
        font-size: 6px !important;
    }

    .md-f-size-8 {
        font-size: 8px !important;
    }

    .md-f-size-10 {
        font-size: 10px !important;
    }

    .md-f-size-12 {
        font-size: 12px !important;
    }

    .md-f-size-14 {
        font-size: 14px !important;
    }

    .md-f-size-16 {
        font-size: 16px !important;
    }

    .md-f-size-18 {
        font-size: 18px !important;
    }

    .md-f-size-20 {
        font-size: 20px !important;
    }

    .md-f-size-22 {
        font-size: 22px !important;
    }

    .md-f-size-24 {
        font-size: 24px !important;
    }

    .md-f-size-26 {
        font-size: 26px !important;
    }

    .md-f-size-28 {
        font-size: 28px !important;
    }

    .md-f-size-30 {
        font-size: 30px !important;
    }

    .md-f-size-32 {
        font-size: 32px !important;
    }

    .md-f-size-34 {
        font-size: 34px !important;
    }

    .md-f-size-36 {
        font-size: 36px !important;
    }

    .md-f-size-38 {
        font-size: 38px !important;
    }

    .md-f-size-40 {
        font-size: 40px !important;
    }
    
    .md-f-size-42 {
        font-size: 42px !important;
    }

    .md-f-size-44 {
        font-size: 44px !important;
    }

    .md-f-size-46 {
        font-size: 46px !important;
    }

    .md-f-size-48 {
        font-size: 48px !important;
    }

    .md-f-size-50 {
        font-size: 50px !important;
    }
    
    .md-f-size-52 {
        font-size: 52px !important;
    }

    .md-f-size-54 {
        font-size: 54px !important;
    }

    .md-f-size-56 {
        font-size: 56px !important;
    }

    .md-f-size-58 {
        font-size: 58px !important;
    }

    .md-f-size-60 {
        font-size: 60px !important;
    }

    .md-f-size-62 {
        font-size: 62px !important;
    }

    .md-f-size-64 {
        font-size: 64px !important;
    }

    .md-f-size-66 {
        font-size: 66px !important;
    }

    .md-f-size-68 {
        font-size: 68px !important;
    }

    .md-f-size-70 {
        font-size: 70px !important;
    }

    .md-f-size-72 {
        font-size: 72px !important;
    }

    .md-f-size-74 {
        font-size: 74px !important;
    }

    .md-f-size-76 {
        font-size: 76px !important;
    }

    .md-f-size-78 {
        font-size: 78px !important;
    }

    .md-f-size-80 {
        font-size: 80px !important;
    }

    .md-f-size-82 {
        font-size: 82px !important;
    }

    .md-f-size-84 {
        font-size: 84px !important;
    }

    .md-f-size-86 {
        font-size: 86px !important;
    }

    .md-f-size-88 {
        font-size: 88px !important;
    }

    .md-f-size-90 {
        font-size: 90px !important;
    }

    .md-f-size-92 {
        font-size: 92px !important;
    }

    .md-f-size-94 {
        font-size: 94px !important;
    }

    .md-f-size-96 {
        font-size: 96px !important;
    }

    .md-f-size-98 {
        font-size: 98px !important;
    }

    .md-f-size-100 {
        font-size: 100px !important;
    }

    .md-f-size-102 {
        font-size: 102px !important;
    }

    .md-f-size-104 {
        font-size: 104px !important;
    }

    .md-f-size-106 {
        font-size: 106px !important;
    }

    .md-f-size-108 {
        font-size: 108px !important;
    }

    .md-f-size-110 {
        font-size: 110px !important;
    }

    .md-f-size-112 {
        font-size: 112px !important;
    }

    .md-f-size-114 {
        font-size: 114px !important;
    }

    .md-f-size-116 {
        font-size: 116px !important;
    }

    .md-f-size-118 {
        font-size: 118px !important;
    }

    .md-f-size-120 {
        font-size: 120px !important;
    }

    .md-f-size-122 {
        font-size: 122px !important;
    }

    .md-f-size-124 {
        font-size: 124px !important;
    }

    .md-f-size-126 {
        font-size: 126px !important;
    }

    .md-f-size-128 {
        font-size: 128px !important;
    }

    .md-f-size-130 {
        font-size: 130px !important;
    }

    .md-f-size-132 {
        font-size: 132px !important;
    }

    .md-f-size-134 {
        font-size: 134px !important;
    }

    .md-f-size-136 {
        font-size: 136px !important;
    }

    .md-f-size-138 {
        font-size: 138px !important;
    }

    .md-f-size-140 {
        font-size: 140px !important;
    }

    .md-f-size-142 {
        font-size: 142px !important;
    }

    .md-f-size-144 {
        font-size: 144px !important;
    }

    .md-f-size-146 {
        font-size: 146px !important;
    }

    .md-f-size-148 {
        font-size: 148px !important;
    }

    .md-f-size-150 {
        font-size: 150px !important;
    }

    .md-f-size-152 {
        font-size: 152px !important;
    }

    .md-f-size-154 {
        font-size: 154px !important;
    }

    .md-f-size-156 {
        font-size: 156px !important;
    }

    .md-f-size-158 {
        font-size: 158px !important;
    }

    .md-f-size-160 {
        font-size: 160px !important;
    }
}

@media (max-width: 743px) {
    .sm-f-size-2 {
        font-size: 2px !important;
    }

    .sm-f-size-4 {
        font-size: 4px !important;
    }

    .sm-f-size-6 {
        font-size: 6px !important;
    }
    
    .sm-f-size-8 {
        font-size: 8px !important;
    }

    .sm-f-size-10 {
        font-size: 10px !important;
    }

    .sm-f-size-12 {
        font-size: 12px !important;
    }

    .sm-f-size-14 {
        font-size: 14px !important;
    }

    .sm-f-size-16 {
        font-size: 16px !important;
    }

    .sm-f-size-18 {
        font-size: 18px !important;
    }

    .sm-f-size-20 {
        font-size: 20px !important;
    }

    .sm-f-size-22 {
        font-size: 22px !important;
    }

    .sm-f-size-24 {
        font-size: 24px !important;
    }

    .sm-f-size-26 {
        font-size: 26px !important;
    }

    .sm-f-size-28 {
        font-size: 28px !important;
    }

    .sm-f-size-30 {
        font-size: 30px !important;
    }

    .sm-f-size-32 {
        font-size: 32px !important;
    }

    .sm-f-size-34 {
        font-size: 34px !important;
    }

    .sm-f-size-36 {
        font-size: 36px !important;
    }

    .sm-f-size-38 {
        font-size: 38px !important;
    }

    .sm-f-size-40 {
        font-size: 40px !important;
    }

    .sm-f-size-42 {
        font-size: 42px !important;
    }

    .sm-f-size-44 {
        font-size: 44px !important;
    }

    .sm-f-size-46 {
        font-size: 46px !important;
    }

    .sm-f-size-48 {
        font-size: 48px !important;
    }

    .sm-f-size-50 {
        font-size: 50px !important;
    }
    
    .sm-f-size-52 {
        font-size: 52px !important;
    }

    .sm-f-size-54 {
        font-size: 54px !important;
    }

    .sm-f-size-56 {
        font-size: 56px !important;
    }

    .sm-f-size-58 {
        font-size: 58px !important;
    }

    .sm-f-size-60 {
        font-size: 60px !important;
    }

    .sm-f-size-62 {
        font-size: 62px !important;
    }

    .sm-f-size-64 {
        font-size: 64px !important;
    }

    .sm-f-size-66 {
        font-size: 66px !important;
    }

    .sm-f-size-68 {
        font-size: 68px !important;
    }

    .sm-f-size-70 {
        font-size: 70px !important;
    }

    .sm-f-size-72 {
        font-size: 72px !important;
    }

    .sm-f-size-74 {
        font-size: 74px !important;
    }

    .sm-f-size-76 {
        font-size: 76px !important;
    }

    .sm-f-size-78 {
        font-size: 78px !important;
    }

    .sm-f-size-80 {
        font-size: 80px !important;
    }

    .sm-f-size-82 {
        font-size: 82px !important;
    }

    .sm-f-size-84 {
        font-size: 84px !important;
    }

    .sm-f-size-86 {
        font-size: 86px !important;
    }

    .sm-f-size-88 {
        font-size: 88px !important;
    }

    .sm-f-size-90 {
        font-size: 90px !important;
    }

    .sm-f-size-92 {
        font-size: 92px !important;
    }

    .sm-f-size-94 {
        font-size: 94px !important;
    }

    .sm-f-size-96 {
        font-size: 96px !important;
    }

    .sm-f-size-98 {
        font-size: 98px !important;
    }

    .sm-f-size-100 {
        font-size: 100px !important;
    }

    .sm-f-size-102 {
        font-size: 102px !important;
    }

    .sm-f-size-104 {
        font-size: 104px !important;
    }

    .sm-f-size-106 {
        font-size: 106px !important;
    }

    .sm-f-size-108 {
        font-size: 108px !important;
    }

    .sm-f-size-110 {
        font-size: 110px !important;
    }

    .sm-f-size-112 {
        font-size: 112px !important;
    }

    .sm-f-size-114 {
        font-size: 114px !important;
    }

    .sm-f-size-116 {
        font-size: 116px !important;
    }

    .sm-f-size-118 {
        font-size: 118px !important;
    }

    .sm-f-size-120 {
        font-size: 120px !important;
    }

    .sm-f-size-122 {
        font-size: 122px !important;
    }

    .sm-f-size-124 {
        font-size: 124px !important;
    }

    .sm-f-size-126 {
        font-size: 126px !important;
    }

    .sm-f-size-128 {
        font-size: 128px !important;
    }

    .sm-f-size-130 {
        font-size: 130px !important;
    }

    .sm-f-size-132 {
        font-size: 132px !important;
    }

    .sm-f-size-134 {
        font-size: 134px !important;
    }

    .sm-f-size-136 {
        font-size: 136px !important;
    }

    .sm-f-size-138 {
        font-size: 138px !important;
    }

    .sm-f-size-140 {
        font-size: 140px !important;
    }

    .sm-f-size-142 {
        font-size: 142px !important;
    }

    .sm-f-size-144 {
        font-size: 144px !important;
    }

    .sm-f-size-146 {
        font-size: 146px !important;
    }

    .sm-f-size-148 {
        font-size: 148px !important;
    }

    .sm-f-size-150 {
        font-size: 150px !important;
    }

    .sm-f-size-152 {
        font-size: 152px !important;
    }

    .sm-f-size-154 {
        font-size: 154px !important;
    }

    .sm-f-size-156 {
        font-size: 156px !important;
    }

    .sm-f-size-158 {
        font-size: 158px !important;
    }

    .sm-f-size-160 {
        font-size: 160px !important;
    }
}
