@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
	--background: #FFF;
	--foreground: #f9f9f9;
	--card: #08080a;
	--card-foreground: #f9f9f9;
	--popover: #08080a;
	--popover-foreground: #f9f9f9;
	--primary: #f9f9f9;
	--primary-foreground: #17171b;
	--secondary: #27272a;
	--secondary-foreground: #f9f9f9;
	--muted: #27272a;
	--muted-foreground: #a1a1a9;
	--accent: #27272a;
	--accent-foreground: #f9f9f9;
	--destructive: #7f1d1d;
	--destructive-foreground: #f9f9f9;
	--border: #27272a;
	--input: #27272a;
	--ring: #d3d3d7;

	--blue: #2196F3;
	--green: #4CAF50;
	--red: #F44336;
	--green-dark: #00796B;
	--yellow: #FFC222;

	--primary-brand: #003c81;
	--primary-brand-opacity: #003c8180;
}

body {
	font-family: "Inter", sans-serif;
	background-color: var(--background);
	color: var(--primary-foreground);
}

.background-app {
	min-height: 100vh;
	width: calc(100%);
	padding: 20px;
	background-color: var(--card-foreground);
}

.blue {
	color: var(--blue);
}

.bg-blue {
	background-color: var(--blue);
}

.green {
	color: var(--green);
}

.bg-green {
	background-color: var(--green);
}

.red {
	color: var(--red);
}

.bg-red {
	background-color: var(--red);
}

.greem-dark {
	color: var(--green-dark);
}

.bg-green-dark {
	background-color:  var(--green-dark);
}

.yellow {
	color: var(--yellow);
}

.bg-yellow {
	background-color: var(--yellow);
}

.gray {
	color: var(--muted-foreground);
}

.bg-gray {
	background-color: var(--muted-foreground);
}

.form-group .form-label {
	font-size: 14px;
	color: var(--accent);
}

.form-control {
	border: 1px solid transparent !important;
	font-size: 14px;
	background-color: transparent !important;
}

.input-group>.form-control, .input-group>.form-select, .input-group>.form-floating {
	border: 1px solid transparent;
	font-size: 14px;
	background-color: transparent !important;
	border-bottom: 1px solid var(--muted-foreground) !important;
}

.input-group>.form-control:focus {
	box-shadow: none !important;
}

.input-group .input-group-text {
	background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--muted-foreground) !important;
}

.form-group .form-control:focus {
    border: 1px solid transparent;
    box-shadow: none !important;
}

.card-login {
	width: 400px;
	max-width: 100%;
	padding: 20px;
	border-radius: 10px;
}

.btn-primary {
	background-color: var(--primary-foreground);
	border-color: var(--primary-foreground);
}

.btn-primary:hover {
	background-color: var(--muted);
	border-color: var(--muted);
}

.form-group .form-control { 
	background-color: transparent !important;
	border-bottom: 1px solid var(--muted-foreground) !important;
	border-radius: 0;
}

.nav-pills .nav-link {
	background-color: transparent !important;
	color: var(--primary-foreground);
	border-radius: 0;
}

.nav-pills .nav-link.active {
	color: var(--primary-foreground);
	border-bottom: 1px solid var(--primary-foreground);
}

.btn-add {
	background-color: var(--card);
	color: var(--background);
	border-radius: 50%;
}

.btn-add:hover, .btn-add:focus {
	background-color: var(--muted);
}

.btn-add svg {
	stroke: var(--background);
}

.sidebar {
	width: 120px;
	height: 100vh;
}

.dropend .dropdown-toggle::after {
	display: none !important;
}

.dropend .dropdown-menu.dropdpwn-new-financial {
	padding: 10px 20px;
}

.dropend .dropdown-menu.dropdpwn-new-financial.show {
	transform: translate(61px, -25px) !important;
	width: 230px;
}

.dropdpwn-new-financial button:hover {
	background-color: var(--card);
	color: var(--accent-foreground);
}

.lista .item-lista {
	padding: 10px;
	border-radius: 10px;
}

.lista .item-lista.active {
	background-color: var(--card);
}

.form-check-input:focus {
	box-shadow: none !important;
}