.w4 { width: 4px !important; }
.w8 { width: 8px !important; }
.w12 { width: 12px !important; }
.w16 { width: 16px !important; }
.w20 { width: 20px !important; }
.w24 { width: 24px !important; }
.w28 { width: 28px !important; }
.w32 { width: 32px !important; }
.w36 { width: 36px !important; }
.w40 { width: 40px !important; }
.w44 { width: 44px !important; }
.w48 { width: 48px !important; }
.w52 { width: 52px !important; }
.w60 { width: 60px !important; }
.w72 { width: 72px !important; }
.w80 { width: 80px !important; }
.w90 { width: 90px !important; }
.w100 { width: 100px !important; }
.w300 { width: 300px !important; }

.w-10 { width: 10% !important; }
.w-20 { width: 20% !important; }
.w-30 { width: 30% !important; }
.w-100 { width: 100% !important; }

/*xl*/
@media (max-width: 1900px) {
    .xl-w4 { width: 4px !important; }
    .xl-w8 { width: 8px !important; }
    .xl-w12 { width: 12px !important; }
    .xl-w16 { width: 16px !important; }
    .xl-w18 { width: 18px !important; }
    .xl-w20 { width: 20px !important; }
    .xl-w24 { width: 24px !important; }
    .xl-w28 { width: 28px !important; }
    .xl-w32 { width: 32px !important; }
    .xl-w36 { width: 36px !important; }
    .xl-w40 { width: 40px !important; }
    .xl-w44 { width: 44px !important; }
    .xl-w48 { width: 48px !important; }
    .xl-w52 { width: 52px !important; }
    .xl-w60 { width: 60px !important; }

    .xl-w-100 { width: 100% !important; }
}

/*lg*/
@media (max-width: 1399px) {
    .lg-w4 { width: 4px !important; }
    .lg-w8 { width: 8px !important; }
    .lg-w12 { width: 12px !important; }
    .lg-w16 { width: 16px !important; }
    .lg-w18 { width: 18px !important; }
    .lg-w20 { width: 20px !important; }
    .lg-w24 { width: 24px !important; }
    .lg-w28 { width: 28px !important; }
    .lg-w32 { width: 32px !important; }
    .lg-w36 { width: 36px !important; }
    .lg-w40 { width: 40px !important; }
    .lg-w44 { width: 44px !important; }
    .lg-w48 { width: 48px !important; }
    .lg-w52 { width: 52px !important; }
    .lg-w62 { width: 62px !important; }
    
    .lg-w-100 { width: 100% !important; }
}

/*md*/
@media (max-width: 1199px) {
    .md-w4 { width: 4px !important; }
    .md-w8 { width: 8px !important; }
    .md-w12 { width: 12px !important; }
    .md-w16 { width: 16px !important; }
    .md-w18 { width: 18px !important; }
    .md-w20 { width: 20px !important; }
    .md-w24 { width: 24px !important; }
    .md-w28 { width: 28px !important; }
    .md-w32 { width: 32px !important; }
    .md-w36 { width: 36px !important; }
    .md-w40 { width: 40px !important; }
    .md-w44 { width: 44px !important; }
    .md-w48 { width: 48px !important; }
    .md-w52 { width: 52px !important; }

    .md-w-100 { width: 100% !important; }
}

/*sm*/
@media (max-width: 743px) {
    .sm-w4 { width: 4px !important; }
    .sm-w8 { width: 8px !important; }
    .sm-w12 { width: 12px !important; }
    .sm-w16 { width: 16px !important; }
    .sm-w18 { width: 18px !important; }
    .sm-w20 { width: 20px !important; }
    .sm-w24 { width: 24px !important; }
    .sm-w28 { width: 28px !important; }
    .sm-w32 { width: 32px !important; }
    .sm-w36 { width: 36px !important; }
    .sm-w40 { width: 40px !important; }
    .sm-w44 { width: 44px !important; }
    .sm-w48 { width: 48px !important; }
    .sm-w52 { width: 52px !important; }

    .sm-w-100 { width: 100% !important; }
}

.hauto { height: auto;}
.h4 { height: 4px !important; }
.h8 { height: 8px !important; }
.h12 { height: 12px !important; }
.h16 { height: 16px !important; }
.h20 { height: 20px !important; }
.h24 { height: 24px !important; }
.h28 { height: 28px !important; }
.h32 { height: 32px !important; }
.h36 { height: 36px !important; }
.h40 { height: 40px !important; }
.h44 { height: 44px !important; }
.h48 { height: 48px !important; }
.h52 { height: 52px !important; }
.h100 { height: 100px !important; }
.h120 { height: 120px !important; }
.h140 { height: 140px !important; }
.h160 { height: 160px !important; }
.h180 { height: 180px !important; }

/*xl*/
@media (max-width: 1900px) {
    .xl-hauto { height: auto;}
    .xl-h4 { height: 4px !important; }
    .xl-h8 { height: 8px !important; }
    .xl-h12 { height: 12px !important; }
    .xl-h16 { height: 16px !important; }
    .xl-h18 { height: 18px !important; }
    .xl-h20 { height: 20px !important; }
    .xl-h24 { height: 24px !important; }
    .xl-h28 { height: 28px !important; }
    .xl-h32 { height: 32px !important; }
    .xl-h36 { height: 36px !important; }
    .xl-h40 { height: 40px !important; }
    .xl-h44 { height: 44px !important; }
    .xl-h48 { height: 48px !important; }
    .xl-h52 { height: 52px !important; }
    .xl-h100 { height: 100px !important; }
    .xl-h120 { height: 120px !important; }
    .xl-h140 { height: 140px !important; }
    .xl-h160 { height: 160px !important; }
    .xl-h180 { height: 180px !important; }
}

/*lg*/
@media (max-width: 1399px) {
    .lg-hauto { height: auto;}
    .lg-h4 { height: 4px !important; }
    .lg-h8 { height: 8px !important; }
    .lg-h12 { height: 12px !important; }
    .lg-h16 { height: 16px !important; }
    .lg-h18 { height: 18px !important; }
    .lg-h20 { height: 20px !important; }
    .lg-h24 { height: 24px !important; }
    .lg-h28 { height: 28px !important; }
    .lg-h32 { height: 32px !important; }
    .lg-h36 { height: 36px !important; }
    .lg-h40 { height: 40px !important; }
    .lg-h44 { height: 44px !important; }
    .lg-h48 { height: 48px !important; }
    .lg-h52 { height: 52px !important; }
    .lg-h100 { height: 100px !important; }
    .lg-h120 { height: 120px !important; }
    .lg-h140 { height: 140px !important; }
    .lg-h160 { height: 160px !important; }
    .lg-h180 { height: 180px !important; }
}

/*md*/
@media (max-width: 1199px) {
    .md-hauto { height: auto;}
    .md-h4 { height: 4px !important; }
    .md-h8 { height: 8px !important; }
    .md-h12 { height: 12px !important; }
    .md-h16 { height: 16px !important; }
    .md-h18 { height: 18px !important; }
    .md-h20 { height: 20px !important; }
    .md-h24 { height: 24px !important; }
    .md-h28 { height: 28px !important; }
    .md-h32 { height: 32px !important; }
    .md-h36 { height: 36px !important; }
    .md-h40 { height: 40px !important; }
    .md-h44 { height: 44px !important; }
    .md-h48 { height: 48px !important; }
    .md-h52 { height: 52px !important; }
    .md-h100 { height: 100px !important; }
    .md-h120 { height: 120px !important; }
    .md-h140 { height: 140px !important; }
    .md-h160 { height: 160px !important; }
    .md-h180 { height: 180px !important; }
    .md-h200 { height: 200px !important; }
}

/*sm*/
@media (max-width: 743px) {
    .sm-hauto { height: auto;}
    .sm-h4 { height: 4px !important; }
    .sm-h8 { height: 8px !important; }
    .sm-h12 { height: 12px !important; }
    .sm-h16 { height: 16px !important; }
    .sm-h18 { height: 18px !important; }
    .sm-h20 { height: 20px !important; }
    .sm-h24 { height: 24px !important; }
    .sm-h28 { height: 28px !important; }
    .sm-h32 { height: 32px !important; }
    .sm-h36 { height: 36px !important; }
    .sm-h40 { height: 40px !important; }
    .sm-h44 { height: 44px !important; }
    .sm-h48 { height: 48px !important; }
    .sm-h52 { height: 52px !important; }
    .sm-h100 { height: 100px !important; }
    .sm-h120 { height: 120px !important; }
    .sm-h140 { height: 140px !important; }
    .sm-h160 { height: 160px !important; }
    .sm-h180 { height: 180px !important; }
}

.w-auto { width: auto !important;}